@using PPC_Rental.Models;
@model IEnumerable<PPC_Rental.Models.ABOUT>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutSale.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div>
        <div class="col-md-1">
            <img src="~/Images/ImageSale/if_scroll left_36560.png" style="width:38px; margin-left: 50%" />
        </div><h1 style="margin-top: 10px;">About</h1>
    </div>
    <div class="card mb-3" style="margin-top: 10px;">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table
        </div>
        <div class="card-body" style="padding:0;">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>About us</th>
                            <th>Our tean</th>
                            <th>CEO</th>
                            <th>Decription</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>About us</th>
                            <th>Our tean</th>
                            <th>CEO</th>
                            <th>Decription</th>
                            <th>Công cụ</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (ABOUT item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td style="width: 200px;">@item.About_us.Substring(0, 90)...</td>
                            <td style="width: 200px;">@item.Our_Team.Substring(0, 90)...</td>
                            <td style="width: 200px;">@item.CEO.Substring(0, 90)...</td>
                            <td style="width: 200px;">@item.Decription.Substring(0, 90)...</td>
                            <td>
                                @Html.ActionLink("Detail", "", new { id = item.ID })|
                                @Html.ActionLink("Edit", "editabout", new { id = item.ID })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</body>
</html>