@model IEnumerable<PPC_Rental.Models.ABOUT>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ foreach (var item in Model)
    {
        <h1 style="text-align:center"><strong>@item.Title</strong></h1>
        <div style="margin-left:3%">
            <img src="~/Images/About/45246085.jpg" />
        </div>
        <div style="width:90%;margin-left:2%">
            <ul style="text-align:left">
                <li style="color:black;text-indent: 50px;">@item.About_us</li>
                <li style="color:black;text-indent: 50px;">@item.Our_Team</li>
                <li style="color:black;text-indent: 50px;">@item.CEO</li>
                <li style="color:black;text-indent: 50px;">@item.Decription</li>
            </ul>
        </div>
    }
}



