@model IEnumerable<PPC_Rental.Models.ABOUT>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ foreach (var item in Model)
    {
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 style="text-align:center"><strong>@item.Title</strong></h1>

                        <p style="text-align:justify">
                            <li style="color:black;text-indent: 50px;">@item.Decription</li>
                        </p>

                        <p style="text-align:center"><img src="~/Images/About/45246085.jpg" /></p>

                        <hr />
                        <p>&nbsp;</p>
                        <div class="col-sm-4">
                            <h4 style="text-align:justify"><strong>ABOUT US</strong></h4>

                            <p style="text-align:justify"><li style="color:black;text-indent: 50px;">@item.About_us</li></p>

                        </div>
                        <div class="col-sm-4">
                            <h4><strong>OUR TEAM</strong></h4>

                            <p style="text-align:justify"><li style="color:black;text-indent: 50px;">@item.Our_Team</li></p>

                        </div>
                        <div class="col-sm-4">
                            <h4><strong>CEO</strong></h4>

                            <p style="text-align:justify"><li style="color:black;text-indent: 50px;">@item.CEO</li></p>

                        </div>
                        <hr />

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    }
}



