
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@model IEnumerable<PPC_Rental.Models.PROPERTY>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div style="font-size:22px;border-bottom:4px solid #ff5c01;font-weight:bold;margin-top:5%">KẾT QUẢ</div>
    <div style="margin-top:2%">
        <div class="row">
            

            @{ foreach (var iteam in Model)
                {
                    <div class="col-sm-12 col-md-3" style="margin-top:10px">
                        <div class="thumbnail animated fadeInDownBig">
                            <div><a href="viewdetail/index/@iteam.ID"><img style="height:170px" class="img-responsive" src="~/Images/@iteam.Avatar" /></a></div>
                            <div class="caption">
                                <div class="max-lines-nameProperty"><a href="/viewdetail/index/@iteam.ID" style="text-decoration:none"><h3 style="color:red;">@iteam.PropertyName</h3></a></div>
                                <div style="height:80px"><p class="max-lines-content">@iteam.Content</p></div>
                                <a href="viewdetail/index/@iteam.ID">Xem thêm</a>
                                <hr />
                                <div style="height:40px"><p><span class="glyphicon glyphicon-map-marker"></span>@iteam.STREET.StreetName @iteam.WARD.WardName @iteam.DISTRICT.DistrictName</p></div>
                                <hr />
                                <div style="height:30px"><p>Giá bán <span style="float:right"> @iteam.Price</span></p></div>
                            </div>
                        </div>
                    </div>
                    
                }
            }
        </div>

    </div>
</div>



