<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/StyleSearch.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/stylemoi.css")
    @Scripts.Render("~/Scripts/scriptmoi.js")



</head>
<body>


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">PPC RENTAL</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li @*class="active"*@><a href="~/Home/Index">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Các dự án nổi bật</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Loại dự án <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Chung cư</a></li>
                            <li><a href="#">Nhà ở </a></li>
                            <li><a href="#">Cho thuê</a></li>
                            <li><a href="#">Biệt thự</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Khu vực <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Quận 1</a></li>
                            <li><a href="#">Quận 2</a></li>
                            <li><a href="#">Quận 3</a></li>
                            <li><a href="#">Quận 4</a></li>
                            <li><a href="#">Quận 5</a></li>
                            <li><a href="#">Quận 6</a></li>
                            <li><a href="#">Quận 7</a></li>
                            <li><a href="#">Quận 8</a></li>
                            <li><a href="#">Quận 9</a></li>
                            <li><a href="#">Quận 10</a></li>
                            <li><a href="#">Quận 11</a></li>
                            <li><a href="#">Quận 12</a></li>
                            <li><a href="#">Quận Thủ Đức</a></li>
                            <li><a href="#">Quận Tân Phú</a></li>
                            <li><a href="#">Quận Gò Vấp</a></li>
                            <li><a href="#">Quận Tân Bình</a></li>
                            <li><a href="#">Quận Bình Thạnh</a></li>
                            <li><a href="#">Quận Bình Tân</a></li>
                            <li><a href="#">Quận Phú Nhuận</a></li>
                            <li><a href="#">Huyện Bình Chánh</a></li>
                            <li><a href="#">Huyện Cần Giờ</a></li>
                            <li><a href="#">Huyện Nhà Bè</a></li>
                            <li><a href="#">Huyện Củ Chi</a></li>
                            <li><a href="#">Huyện Hóc Môn</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Contact">Liên hệ</a></li>
                    <li><a href="/Home/News">Tin tức</a></li>
                    <li><a href="/Home/About">About</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/postProject"><span class="glyphicon glyphicon-pencil"></span> Đăng tin</a></li>
                    @if (Session["UserID"] == null)
                    {
                        <li><a href="/Home/Login">Login</a></li>
                        <li><a href="/home/Register">Register</a></li>
                    }
                    else
                    {
                        <li>
                            <a href="#"> @Session["FullName"]</a>
                        </li>
                        <li>
                            <a href="/Home/Logout/@Session["UserID"]">Log out</a>
                        </li>

                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:500px">
                <div class="item active">
                    <img src="~/Images/Slider/house_hut_boat_thickets_jungle_lake_privacy_green_summer_brightly_63280_1440x900.jpg" style="width:100%" />
                </div>
                <div class="item">
                    <img src="~/Images/Slider/house_ocean_island_palm_maldives_pool_jacuzzi_sofas_cushions_interior_73673_1440x900.jpg" style="width:100%" />

                </div>
                <div class="item">
                    <img src="~/Images/Slider/thun_switzerland_building_river_shore_118358_1440x900.jpg" style="width:100%" />
                </div>
            </div>


            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>



        </div>
    </div>

    <div class="container body-content">
        @Html.Action("searchbox", "home")
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-image:url(/Images//footer/footer.jpg);color:white">
            <table style="width:100%">
                <tr>
                    <td>SÀN GIAO DỊCH PPC RENTAL SÀI GÒN</td>
                    <td>SÀN GIAO DỊCH PPC RENTAL SÀI GÒN-QUẬN 9</td>
                    <td>SÀN GIAO DỊCH PPC RENTAL SÀI GÒN-QUẬN BÌNH CHÁNH</td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-map-marker"></span> 45 Nguyễn Khắc Nhu, Quận 1, TP.HCM
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-map-marker"></span> 430 Liên Phường, Quận 9, TP.HCM
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-map-marker"></span> 497 Khu dân cư Phong Phú 4, Bình Chánh, TP.HCM
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-earphone"></span> ĐT:(08)3514.2135 - Hotline: 0937.737.773
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-earphone"></span> ĐT:(08)3514.3535 - Hotline: 0935.533.335
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-earphone"></span> ĐT:(08)3514.3142 - Hotline: 0909.090.090
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-envelope"></span> vanlanguni.edu.vn
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-envelope"></span> vanlanguni.edu.vn
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-envelope"></span> vanlanguni.edu.vn
                    </td>
                </tr>

            </table>
            <br />
            <div style="text-align:center">
                <p>&copy;@DateTime.Now.Year Copyright by PPC-RENTAL Sài Gòn, Developed by PPC RENTAL Sài Gòn</p>
                <p>Giấy phép ĐKKD số 0312632653 do Sở Kế hoạch và Đầu tư TPHCM cấp ngày 1/11/2017</p>
            </div>


        </footer>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/css_select2/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/js_select2/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2cbx').select2();
            $("#Street_ID").empty();
            $.getJSON("requestStreets?District_ID=" + $('#District_ID').val(), function (data) {
                $("#Street_ID").select2({ data: data });
            });

            $('#Ward_ID').empty();
            $.getJSON("requestWard?District_ID=" + $('#District_ID').val(), function (data) {
                $('#Ward_ID').select2({ data: data });
            });
        });

        $("#District_ID").on('change', function () {
            $("#Street_ID").empty();
            $.getJSON("requestStreets?District_ID=" + $('#District_ID').val(), function (data) {
                $("#Street_ID").select2({ data: data });
            });

            $('#Ward_ID').empty();
            $.getJSON("requestWard?District_ID=" + $('#District_ID').val(), function (data) {
                $('#Ward_ID').select2({ data: data });
            });
        });


    </script>


</body>
</html>
