
@{
    ViewBag.Title = "LayoutSale";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewlistofprojectagency">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid navbar-fixed-top">
        <div class="col-md-2" style="background-color: slategrey;height:800px">
            <div>
                <img src="~/Images/ImageSale/logo.png" alt="logo PPC Rental" style="width: 100%;height:auto;" />
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="~/Images/ImageSale/if_malecostume_403022.png" alt="Hinh avatar sale" />
                </div>
                <div class="col-md-6">
                    <h2 style="text-align:center;padding-top:20%;">Sale</h2>
                </div>
                <p><a>Account</a> - <a>Đăng xuất</a></p>
            </div>
            <hr />
            <div class="container">
                <ul style="padding-left: 0;">
                    <li style="list-style: none;cursor:pointer;font-size:20px;"><img src="~/Images/ImageSale/if_Home Green_41298.png" style="width: 38px" /> Trang chủ</li>
                    <li style="list-style: none;cursor:pointer;font-size:20px;">
                        <img src="~/Images/ImageSale/if_user7_49396.png" style="width :36px" /> Agency
                        <ul style="padding-left: 60px;">
                            <li style="list-style: none;cursor:pointer;font-size:16px"> Quản lý tài khoản</li>
                            <li style="list-style: none;cursor:pointer;font-size:16px"> Duyệt tài khoản</li>
                        </ul>
                    </li>

                    <li style="list-style: none;cursor:pointer;font-size:20px;">
                        <img src="~/Images/ImageSale/if_folder-project_287298.png" style="width :36px" /> Dự án
                        <ul style="padding-left: 60px;">
                            <li style="list-style: none;cursor:pointer;font-size:16px"> Quản lý dự án</li>
                            <li style="list-style: none;cursor:pointer;font-size:16px"> Duyệt dự án</li>
                            <li style="list-style: none;cursor:pointer;font-size:16px"> Phí thanh toán</li>
                        </ul>
                    </li>
                    <li style="list-style: none;cursor:pointer;font-size:20px;"><img src="~/Images/ImageSale/if_kaddressbook_24061.png" style="width :36px" /> Hỗ trợ</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container body-content">
                @RenderBody()



            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
