@model PPC_Rental.Models.PROPERTY

@{
    ViewBag.Title = "EditProject1";
    Layout = "~/Views/Shared/LayoutSale.cshtml";
}

<div>
    <div class="col-md-1">
        <img src="~/Images/ImageSale/if_scroll left_36560.png" style="width:38px; margin-left: 50%" />
    </div><h1 style="margin-top: 10px;">Danh sách dự án \ Edit</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <br />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="col-md-6" style="margin-top: 0;">
            <nav class="navbar navbar-default" role="navigation" style="border: 1px solid;margin : 0;background-color: deepskyblue">
                <div class="container-fluid" style="margin-top: 10px;margin-bottom: 0;padding-left: 20px;">
                    <p style="margin-bottom: 0;color: white;font-size: 20px">Thông tin dự án</p>
                </div>
            </nav>
            <div style="border: 1px solid;">
                <div style="padding: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">ID :</span>
                        <p style="margin-top:10px;margin-left: 20px;">@Html.ValueFor(m => m.ID)</p>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">PropertyName</span>
                            <input id="proname" type="text" class="form-control" name="projectname" value="@Html.ValueFor(m => m.PropertyName)" placeholder="Tên dự án">
                                
                    </div>
                    <div class="input-group" style="width: 200px;">
                        <span class="input-group-addon">PropertyType</span>
                        <div class=" col-md-10">
                            @Html.DropDownList("PropertyType_ID", new SelectList(ViewBag.editprotype, "ID", "Description", Model.PROPERTY_TYPE))
                            @Html.ValidationMessageFor(model => model.PropertyType_ID)
                        </div>
                        <span class="input-group-addon">Price :</span>
                        <input style="width: auto;" id="price" type="text" class="form-control" name="price" value="@Html.ValueFor(m => m.Price)" placeholder="Giá">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Avatar :</span>
                        <input id="avatar" type="file" class="form-control" name="avatar" value="@Html.ValueFor(m => m.Avatar)">
                        <span class="input-group-addon">UnitPrice :</span>
                        <select id="unitprice" class="form-control" name="unitprice"><option>@Html.ValueFor(m => m.UnitPrice)</option></select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Area :</span>
                        <input id="area" type="text" class="form-control" name="area" value="@Html.ValueFor(m => m.Area)" placeholder="Giá">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Images :</span>
                        <input id="image" type="file" class="form-control" name="image" value="@Html.ValueFor(m => m.Images)">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Content :</span>
                        <textarea style="min-height: 140px;" id="content" type="text" class="form-control" name="content" placeholder="Nội dung">@Html.ValueFor(m => m.Content)</textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">BedRoom :</span>
                        <select id="badroom" class="form-control" name="bebroom">
                            <option>@Html.ValueFor(m => m.BedRoom)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>

                        </select>
                        <span class="input-group-addon">BethRoom :</span>
                        <select id="bathroom" class="form-control" name="bethroom">
                            <option>@Html.ValueFor(m => m.BathRoom)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">PackingPlace :</span>
                        <select id="packingplace" class="form-control" name="packingplace" style="width: 170px;">
                            <option>@Html.ValueFor(m => m.PackingPlace)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">User :</span>
                        <p style="margin-top:10px;margin-left: 20px;">@Html.ValueFor(m => m.USER.FullName)</p>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Craeted at :</span>
                        <p style="margin-top:10px;margin-left: 20px;">@Html.ValueFor(m => m.Created_at)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 0;padding-left: 10px;padding-right: 10px;">
            <nav class="navbar navbar-default" role="navigation" style="border: 1px solid;margin : 0;background-color: deepskyblue">
                <div class="container-fluid" style="margin-top: 10px;margin-bottom: 0;padding-left: 20px;">
                    <p style="margin-bottom: 0;color: white;font-size: 20px">Tiện tích</p>
                </div>
            </nav>
            <div style="border: 1px solid;">
                <div style="padding: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">Ban công :</span>
                        <input id="bancong" type="checkbox" class="form-control-radio" name="bancong" placeholder="Co">  Có
                        <span class="input-group-addon" style="margin-left: 20%;">Phòng giặc ủi :</span>
                        <input id="giacui" type="checkbox" class="form-control-radio" name="giacui" placeholder="Co"> Có
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Chỗ đậu xe :</span>
                        <input id="dauxe" type="checkbox" class="form-control-radio" name="dauxe" placeholder="Co"> Có

                        <span class="input-group-addon" style="margin-left: 20%;">Hồ bơi :</span>
                        <input id="hoboi" type="checkbox" class="form-control-radio" name="hoboi" placeholder="Co"> Có
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Thang máy :</span>
                        <input id="thangmay" type="checkbox" class="form-control-radio" name="thangmay" placeholder="Co"> Có
                        <span class="input-group-addon" style="margin-left: 20%;">Sàn gỗ :</span>
                        <input id="sango" type="checkbox" class="form-control-radio" name="sango" placeholder="Co"> Có
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Vườn :</span>
                        <input id="vuon" type="checkbox" class="form-control-radio" name="vuon" placeholder="Co"> Có
                        <span class="input-group-addon" style="margin-left: 25%;">Bảo vệ :</span>
                        <input id="baove" type="checkbox" class="form-control-radio" name="baove" placeholder="Co"> Có
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Phòng tập gym :</span>
                        <input id="gym" type="checkbox" class="form-control-radio" name="gym" placeholder="Co"> Có
                        <span class="input-group-addon" style="margin-left: 15%;">Thú cưng :</span>
                        <input id="thucung" type="checkbox" class="form-control-radio" name="thucung" placeholder="Co"> Có
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Nhà bếp :</span>
                        <input id="bep" type="checkbox" class="form-control-radio" name="bep" placeholder="Co"> Có
                    </div>
                </div>
            </div>
            <br />
            <nav class="navbar navbar-default" role="navigation" style="border: 1px solid;margin : 0;background-color: deepskyblue">
                <div class="container-fluid" style="margin-top: 10px;margin-bottom: 0;padding-left: 20px;">
                    <p style="margin-bottom: 0;color: white;font-size: 20px">Địa chỉ</p>
                </div>
            </nav>
            <div style="border: 1px solid;">
                <div style="padding: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">City :</span>
                        <p style="margin-top:10px;margin-left: 10px;margin-right: 10px;">HCM</p>
                        <span class="input-group-addon">District</span>
                        <div class="col-md-4" style="height: 35px;width: 100px;">
                            @Html.DropDownList("District_ID", new SelectList(ViewBag.disid, "ID", "DistrictName", Model.DISTRICT))
                            @Html.ValidationMessageFor(model => model.District_ID)
                        </div>
                        <span class="input-group-addon">Ward</span>
                        <div class="col-md-3" style="height: 35px;width: 100px;">
                            @Html.DropDownList("Ward_ID", new SelectList(ViewBag.wardid, "ID", "WardName", Model.WARD))
                            @Html.ValidationMessageFor(model => model.Ward_ID)
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Street</span>
                        <div class="col-md-10" style="height: 35px">
                            @Html.DropDownList("Street_ID", new SelectList(ViewBag.streeid, "ID", "StreetName", Model.STREET))
                            @Html.ValidationMessageFor(model => model.Street_ID)
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <nav class="navbar navbar-default" role="navigation" style="border: 1px solid;margin : 0;background-color: deepskyblue">
                <div class="container-fluid" style="margin-top: 10px;margin-bottom: 0;padding-left: 20px;">
                    <p style="margin-bottom: 0;color: white;font-size: 20px">Quản lý :</p>
                </div>
            </nav>
            <div style="border: 1px solid;">
                <div style="padding: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">Sale :</span>
                        <p style="margin-top:10px;margin-left: 20px;margin-right: 20px;">@Html.ValueFor(m => m.USER1.FullName)</p>
                        <span class="input-group-addon">Updated at :</span>
                        <p style="margin-top:10px;margin-left: 20px;margin-right: 20px;">@Html.ValueFor(m => m.Updated_at)</p>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Status</span>
                        <div class="col-md-3">
                            @Html.DropDownList("Status_ID", new SelectList(ViewBag.staid, "ID", "Status_Name", Model.PROJECT_STATUS))
                            @Html.ValidationMessageFor(model => model.Status_ID)
                        </div>
                        <span class="input-group-addon">Note :</span>
                        <input id="note" type="text" class="form-control" name="note" value="@Html.ValueFor(m => m.Note)" placeholder="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-top: 10px;">
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 10px;text-align: right;">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="width:100px;font-size:16px;" type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
